.App {
  margin: 10px;
}

.tabLabel {
  background-color: rgb(196, 247, 196);
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 30px;
}

.tabLabel:hover {
  background-color: rgb(120, 208, 120);
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 30px;
  color: rgb(95, 3, 3);
}

/* button {
  color: white;
} */

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected  {
  color: rgb(255, 255, 255) !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: rgb(255, 255, 255) !important;
}

p .css-ahj2mt-MuiTypography-root {
  color: black;
}

ol {
  list-style-type: decimal;
  padding: 0;
}

ul {
  list-style-type: disc;
}

.markdown-editor {
  white-space: pre-wrap;
}

.wmde-markdown h1 {
  color: black !important;
}

.css-19kzrtu {
  padding: 0 !important;
}