@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-start-rgb: #00588A;
  --background-middle-rgb: #001857;
  --background-end-rgb: #000C24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-start-rgb: #00588A;
    --background-middle-rgb: #001857;
    --background-end-rgb: #000C24;
  }
}

body {
  background:linear-gradient(#00588A, #001857, #000C24);
  min-height: 100vh;
}