/* .w-md-editor-toolbar {
  background-color: #000C24 !important;
} */

/* .w-md-editor-toolbar svg{
  color: white !important;
} */

/* .w-md-editor-toolbar button{
  color: white !important;
} */

.w-md-editor-toolbar  {
  color: white !important;
}